{# TEMPLATE VAR SETTINGS #}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
  {%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
  {%- set titlesuffix = "" %}
{%- endif %}

{% include "head.html" %}

<body role="document">

    {% include "header.html" %}

    {# SIDE NAV, TOGGLES ON MOBILE #}
    <nav>
      <div role="navigation" aria-label="main navigation">
        {% set toctree = toctree(maxdepth=2, collapse=False, includehidden=True) %}
        {% if toctree %}
            {{ toctree }}
        {% else %}
            <!-- Local TOC -->
            <div class="local-toc">{{ toc }}</div>
        {% endif %}
      </div>
    </nav>

    {# PAGE CONTENT #}
    <section class="content">

          {% include "breadcrumbs.html" %}
          <div role="main">
            {% block body %}{% endblock %}
          </div>

          {% if next or prev %}
            <div class="pagination" role="navigation" aria-label="footer navigation">
              {% if next %}
              <a href="{{ next.link|e }}" class="button next" title="{{ next.title|striptags|e }}">Next >></a>
              {% endif %}
              {% if prev %}
                <a href="{{ prev.link|e }}" class="button prev" title="{{ prev.title|striptags|e }}"><< Previous</a>
              {% endif %}
            </div>
          {% endif %}


    </section>

    {% include "footer.html" %}

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'{{ url_root }}',
            VERSION:'{{ release|e }}',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'{{ '' if no_search_suffix else file_suffix }}',
            HAS_SOURCE:  {{ has_source|lower }}
        };
    </script>
    {%- for scriptfile in script_files %}
      <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endfor %}

</body>
</html>
